bin/*
**/*.tfstate*
**/*.tfstate.backup
**/.terraform/*
**/.terraform.lock.*
**/*.test.tfvars

.DS_Store
builds/*
crash.log
.idea
*.iml
*.exe
*.ovpn
debug.test
linux-amd64/*
temp/*
.env
kubeconfig_*

**/config/generated/*
**/config/demo.yaml
**/config/lab.yaml